body {
  background-color: #001B3A;
  font-family: 'Montserrat', sans-serif;
  color:whitesmoke;
  background-image: url('background.png');
}

a:hover{
  opacity: .2;
}


.nav{
  display: flex;
  flex-direction: column;
  background-color: #2AB67B;
  position: fixed;
  height: 100%;
  width:50px;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 600px){
  .nav{
    display: unset;
    background-color: #2AB67B;
    position: fixed;
    height: 9%;
    width:100%;
    top: unset;
    bottom: 0;
   
  }
  
}

.home-header{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.justin-title{
  margin-left:80px;
  font-size: 60px;
  }

  


.justin-picture{
  width:130px;
  height:130px;
  border-radius: 125px;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    -o-border-radius: 125px;
   margin-right: 20px;
    border-style: solid;
    border-color: #2AB67B;
}

@media screen and (max-width: 600px){
  .justin-title{
    font-size:200%;
  }
  .justin-picture{
    width:110px;
    height: 110px;
   
  }
  
}

.j{
  color: #F1E9D7;
  font-size:20px;
  text-shadow: 12px 12px 2px #145DA0;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px){
  .j{
    visibility: hidden;
  }
}


.nav h3{
  margin-bottom: 45px;
}

@media screen and (max-width: 600px){
  
  .nav h3{
    display:inline;
    
    
    margin-bottom: unset;
    margin: 0 5%;
    bottom:0;
    /* align-items: center; */
  }
  
}

.fa-home{
  color:#0C2D48;
  
}

.fa-github{
  color: #0C2D48;
  
}

.fa-linkedin-in{
  color:#0C2D48;
  
}

.fa-envelope{
color: #0C2D48;

}

.fa-image{
  color: #0C2D48;
  
}

.fa-file{
  color:#0C2D48;
}

@media screen and (max-width: 600px){
  .fa-home{
    margin-top: 20px;
    
  }
}

.home-divs{
  margin: 0 80px;
  background-color:#0C2D48;
  padding: 20px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 15px;
  line-height: 30px;
  margin-top:50px;
}



.home-divs-contact{
  margin: 0 80px;
  background-color:#0C2D48;
  padding: 20px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 15px;
  line-height: 30px;
  margin-top:50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 600px){
  .home-divs{
    margin: 50px 30px;
  }
  .home-divs-contact{
    margin: 0 30px;
    margin-bottom: 100px;
  }
}

.project-pics{
  width: 180px;
}

.inputs{
  background: transparent;
  border-style:none;
  color: hotpink;
  font-size: 20px;
  width:60%;
  margin-top: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.inputs-message{
  background: transparent;
  border-style:none;
  color: hotpink;
  font-size: 20px;
  width:80%;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

::placeholder{
  color:#2AB67B;
  text-align: center;
}

.email-button{
  color: #2AB67B;
  font-size: 20px;
  background-color: transparent;
  border-style: unset;
}

.email-button:hover{
  color:white;
  font-size: 30px;
}

.carousel{
  width:70%;
  
  /* margin: 0 auto; */
}

.carousel img{
  width: 40px;
}

.resume-pic{
  width:80%;
  height:100vw;

}

.resume-link{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
